<div class="card" *ngIf="selectedBeneficiary().id">
  <div class="card-header">
    {{ pageTitle() }}
    <div (click)="removeBeneficiary(selectedBeneficiary().id)" class="remove-icon" alt="Remove Icon"></div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-3">Nome:</div>
      <div class="col-md-6">{{ selectedBeneficiary().name }}</div>
      <div class="col-md-3">
        <button [disabled]="showModal()" class="btn btn-primary" (click)="hideAccordion.set(true); showModal.set(!showModal()); ">
          Atualizar
        </button>
      </div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-md-3">Telefone:</div>
      <div class="col-md-6">{{ selectedBeneficiary().phone }}</div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-md-3">Nascimento:</div>
      <div class="col-md-6">{{ selectedBeneficiary().birthDate | date : 'short' : '' : 'pt-BR' }}</div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-md-3">Inclusão em:</div>
      <div class="col-md-6">{{ selectedBeneficiary().addedDate | date : 'short' : '' : 'pt-BR' }}</div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-md-3">Atualizado em:</div>
      <div class="col-md-6">{{ selectedBeneficiary().updateDate | date : 'short' : '' : 'pt-BR' }}</div>
    </div>

    <div class="row mt-2 mb-1" *ngIf="beneficiaryDocuments()">
      <div class="col-md-3">Documentos:</div>
      <div class="col-md-6 box-docs">
        <ul
          class="list-group mt-1 mb-1"
          *ngFor="let document of beneficiaryDocuments()"
        >
          <li class="list-group-item"><span>ID</span>: {{ document.id }}</li>
          <li class="list-group-item">
            <span>Descrição</span>: {{ document.desc }}
          </li>
          <li class="list-group-item">
            <span>Tipo</span>: {{ document.documentType }}
          </li>
          <li class="list-group-item">
            <span>Inclusão em</span>: {{ (document.addedDate | date : 'short' : 'pt-BR')?.substr(0, 10) }}
          </li>
          <li class="list-group-item">
            <span>Atualizado em</span>: {{ (document.updatedDate | date : 'short' : 'pt-BR')?.substr(0, 10) }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-dialog
  [isActive]="showModal"
  [controls]="inputControls"
  [beneficiary]="selectedBeneficiary"
  (canceled)="hideAccordeonOnCancel()"
  (submitted)="updateBeneficiary($event)"
>
  <app-accordion
    [controlsDoc]="controlsDoc"
    [documents]="selectedBeneficiary().documents"
    [hideAccordion]="hideAccordion"
  ></app-accordion>
</app-dialog>
