<div class="card">
  <div class="card-header own-header">
    {{ pageTitle }}
    <button
      [disabled]="showModalAdd()"
      class="pseudo-clicker"
      (click)="
        onSelected('none'); showModalAdd.set(true); hideAccordion.set(true)
      "
    ></button>
  </div>

  <div class="card-body" *ngIf="beneficiaries()?.length">
    <div class="list-group">
      <button
        [disabled]="showModalAdd()"
        type="button"
        class="list-group-item"
        *ngFor="let b of beneficiaries()"
        [ngClass]="{ active: b?.name === selectedBeneficiary().name }"
        (click)="onSelected(b.id)"
      >
        {{ b.name }}
      </button>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>

<ng-container *ngIf="showModalAdd()">
  <app-dialog
    [isActive]="showModalAdd"
    [controls]="inputControls"
    [beneficiary]="selectedBeneficiary"
    [addBeneficiaryMode]="true"
    (canceled)="hideAccordeonOnCancel()"
    (submitted)="submitRegister($event)"
  >
    <app-accordion
      [controlsDoc]="controlsDoc"
      [documents]="selectedBeneficiary().documents"
      [hideAccordion]="hideAccordion"
    ></app-accordion>
  </app-dialog>
</ng-container>
