<div
  *ngFor="let docItem of documents; let i = index"
  class="accordion mt-2 mb-2"
  id="accordionExample"
>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        (click)="
          hideAccordion.set(!hideAccordion()); toggleAccordion(docItem.id)
        "
        class="accordion-button"
        [ngClass]="docItem.id"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Documento: {{ i + 1 }}
      </button>
    </h2>

    <div
      [id]="docItem.id"
      class="accordion-collapse hideAccordion"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div
        *ngFor="let item of controlsDoc(); let i = index"
        class="accordion-body"
      >
        <label for="recipient-name" class="col-form-label"
          >{{ item?.label }}:</label
        >

        <input
          *ngIf="item.type !== 'textarea'; else docTextArea"
          [type]="item?.type"
          class="form-control"
          [id]="item?.idDoc"
          value="{{ docItem[item.idDoc] }}"
        />

        <ng-template #docTextArea>
          <textarea
            class="form-control"
            rows="3"
            [id]="item?.idDoc"
            value="{{ docItem[item.idDoc] }}"
          ></textarea>
        </ng-template>
      </div>
    </div>
  </div>
</div>
