<div
  *ngFor="let docItem of selectedData; let i = index"
  class="accordion mt-2 mb-2"
  id="accordionExample"
>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        #btnAccordeon
        [id]="'acc-btn-' + docItem.id"
        (click)="toggleAccordion(docItem)"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Documento: {{ i + 1 }}
      </button>
    </h2>

    <div
      [id]="'acc-body-' + docItem.id"
      class="accordion-collapse hideAccordion"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div
        *ngFor="let item of controlsDoc(); let j = index"
        class="accordion-body"
      >
        <label
          *ngIf="item.idDoc !== 'addedDate' && item.idDoc !== 'updatedDate'"
          for="recipient-name"
          class="col-form-label"
          >{{ item?.label }}:</label
        >

        <input
          *ngIf="item.type !== 'textarea'; else docTextArea"
          [type]="item?.type"
          class="form-control"
          [ngClass]="{
            hideAccordion:
              item.idDoc === 'addedDate' || item.idDoc === 'updatedDate'
          }"
          [id]="item?.idDoc"
          [ngModel]="docItem[item.idDoc]"
          (ngModelChange)="updateFormValue(item.idDoc, $event, i)"
        />

        <ng-template #docTextArea>
          <textarea
            class="form-control"
            rows="3"
            [id]="item?.idDoc"
            [ngModel]="docItem[item.idDoc]"
            (ngModelChange)="updateFormValue(item.idDoc, $event, i)"
          ></textarea>
        </ng-template>
      </div>
    </div>
  </div>
</div>
