<div
  [ngClass]="{ showDialog: isActive(), hideDialog: !isActive() }"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Atualização Beneficiário: {{ beneficiary().name }}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" *ngFor="let item of controls()">
            <label for="recipient-name" class="col-form-label"
              >{{ item?.label }}:</label
            >
            <input
              #myInput
              *ngIf="item.type !== 'textarea'; else myTextArea"
              [type]="item?.type"
              class="form-control"
              [id]="item?.id"
              value="{{ beneficiary()[item.id] }}"
            />

            <ng-template #myTextArea>
              <textarea class="form-control" [className]="item?.className" [id]="item?.id"></textarea>
            </ng-template>
          </div>


          <div class="form-group">
            <ng-content></ng-content>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="isActive.set(false)"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="submit()">
          Atualizar
        </button>
      </div>
    </div>
  </div>
</div>
