.showDialog {
  display: unset;
  opacity: 1;
}

.hideDialog {
  display: none;
  opacity: 0;
}

.btn-add-disabled {
  opacity: 0.2;
}

.modal.fade .modal-dialog {
  transform: unset;
}

.modal-content {
  height: 85dvh;
  overflow-y: auto;
}
