<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="./assets/ekan-logo.png"
          class="img-responsive center-block"
          style="max-height: 300px; padding-bottom: 50px"
        />
      </div>

      <div class="text-center">Implementado por:</div>
      <div class="text-center">
        <h3>Igor Alves</h3>
      </div>

      <div class="text-center">
        github:
        <a target="_blank" href="https://github.com/Perolanegra/ekan-exam"
          >Perolanegra/ekan-exam</a
        >
      </div>
    </div>
  </div>
</div>
